* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {

  --white: #fff;
  --black: #000;

  --light-green: #3fffa3;
  --light-red: #ff3f4b;

  --dark-red: #8f0101;

  --dark-gray: #0e0e1d;
  --light-gray: #8a8a8a;
  --gray: #192036;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-rendering: none;
}

body {
  background: var(--dark-gray);
}

body, input, textarea, select, button {
  font: 400, 1rem, sans-serif;
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}